root4adf/pipeline/EX_SourceToRaw_Parent.json
{
	"name": "EX_SourceToRaw_Parent",
	"properties": {
		"activities": [
			{
				"name": "Initiate Parent Process",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Process].[InitiateParentLoad]",
						"storedProcedureParameters": {
							"ADFExecution": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"EntityStageID": {
								"type": "Int32",
								"value": "51"
							},
							"ParentProcessID": {
								"type": "Int32",
								"value": null
							},
							"ProcessFilter": {
								"type": "String",
								"value": "%"
							},
							"Stage": {
								"type": "String",
								"value": "Raw"
							},
							"Area": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AnalyticsHub_DYN",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Get Entities to Copy",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Initiate Parent Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Process].[GetChildProcesses]",
						"storedProcedureParameters": {
							"ParentProcessID": {
								"type": "Int32",
								"value": {
									"value": "@activity('Initiate Parent Process').output.firstRow.ParentProcessID",
									"type": "Expression"
								}
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AnalyticsHub_DYN",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Run Child Processes",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Entities to Copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Entities to Copy').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Choose Pipeline Based on Source",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().FileFormat",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "SQL",
										"activities": [
											{
												"name": "Run Copy Pipeline Table",
												"description": "This has been moved to invoke the Zip PipeLine because it keeps on kicking of Databricaks. Otherwise, all is working well invoking EX_SourceToRaw_Single_Table - which is the pipeline it would kick of under normal circumstances",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "EX_SourceToRaw_Single_Table",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"TableName": {
															"value": "@item().EntityName",
															"type": "Expression"
														},
														"Zone": {
															"value": "@item().StageName",
															"type": "Expression"
														},
														"Year": {
															"value": "@item().Year",
															"type": "Expression"
														},
														"Month": {
															"value": "@item().Month",
															"type": "Expression"
														},
														"Day": {
															"value": "@item().Day",
															"type": "Expression"
														},
														"Domain": {
															"value": "@item().Domain",
															"type": "Expression"
														},
														"Classification": {
															"value": "@item().Classification",
															"type": "Expression"
														},
														"EntityStageID": {
															"value": "@item().EntityStageID",
															"type": "Expression"
														},
														"ProcessID": {
															"value": "@item().ProcessID",
															"type": "Expression"
														},
														"Version": {
															"value": "@item().Version",
															"type": "Expression"
														},
														"SlicePath": {
															"value": "@item().SlicePath",
															"type": "Expression"
														},
														"Time": {
															"value": "@item().Time",
															"type": "Expression"
														},
														"FileFormat": {
															"value": "@item().FileFormat",
															"type": "Expression"
														},
														"Area": {
															"value": "@item().Area",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "HTTP",
										"activities": [
											{
												"name": "EX_SourceToRaw_Single_HTTP",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "EX_SourceToRaw_Single_HTTP",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"TableName": {
															"value": "@item().EntityName",
															"type": "Expression"
														},
														"Zone": {
															"value": "@item().StageName",
															"type": "Expression"
														},
														"Year": {
															"value": "@item().Year",
															"type": "Expression"
														},
														"Month": {
															"value": "@item().Month",
															"type": "Expression"
														},
														"Day": {
															"value": "@item().Day",
															"type": "Expression"
														},
														"Area": {
															"value": "@item().Area",
															"type": "Expression"
														},
														"Domain": {
															"value": "@item().Domain",
															"type": "Expression"
														},
														"Classification": {
															"value": "@item().Classification",
															"type": "Expression"
														},
														"EntityStageID": {
															"value": "@item().EntityStageID",
															"type": "Expression"
														},
														"ProcessID": {
															"value": "@item().ProcessID",
															"type": "Expression"
														},
														"Version": {
															"value": "@item().Version",
															"type": "Expression"
														},
														"SlicePath": {
															"value": "@item().SlicePath",
															"type": "Expression"
														},
														"Time": {
															"value": "@item().Time",
															"type": "Expression"
														},
														"FileFormat": {
															"value": "@item().FileFormat",
															"type": "Expression"
														},
														"Path": {
															"value": "@item().Path",
															"type": "Expression"
														},
														"Config": {
															"value": "@json(item().Config)",
															"type": "Expression"
														},
														"PathRoute": {
															"value": "@item().PathRoute",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Run Copy Pipeline Table_copy1",
										"description": "This has been moved to invoke the Zip PipeLine because it keeps on kicking of Databricaks. Otherwise, all is working well invoking EX_SourceToRaw_Single_Table - which is the pipeline it would kick of under normal circumstances",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "EX_SourceToRaw_Single_HTTP",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"TableName": {
													"value": "@item().EntityName",
													"type": "Expression"
												},
												"Zone": {
													"value": "@item().StageName",
													"type": "Expression"
												},
												"Year": {
													"value": "@item().Year",
													"type": "Expression"
												},
												"Month": {
													"value": "@item().Month",
													"type": "Expression"
												},
												"Day": {
													"value": "@item().Day",
													"type": "Expression"
												},
												"Area": {
													"value": "@item().Area",
													"type": "Expression"
												},
												"Domain": {
													"value": "@item().Domain",
													"type": "Expression"
												},
												"Classification": {
													"value": "@item().Classification",
													"type": "Expression"
												},
												"EntityStageID": {
													"value": "@item().EntityStageID",
													"type": "Expression"
												},
												"ProcessID": {
													"value": "@item().ProcessID",
													"type": "Expression"
												},
												"Version": {
													"value": "@item().Version",
													"type": "Expression"
												},
												"SlicePath": {
													"value": "@item().SlicePath",
													"type": "Expression"
												},
												"Time": {
													"value": "@item().Time",
													"type": "Expression"
												},
												"FileFormat": {
													"value": "@item().FileFormat",
													"type": "Expression"
												},
												"Path": {
													"value": "@item().Path",
													"type": "Expression"
												},
												"Config": {
													"value": "@json(item()).Config",
													"type": "Expression"
												},
												"PathRoute": {
													"value": "@item().PathRoute",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Finalise Parent Process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run Child Processes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Process].[FinaliseProcess]",
					"storedProcedureParameters": {
						"ProcessID": {
							"value": {
								"value": "@activity('Initiate Parent Process').output.firstRow.ParentProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_AnalyticsHub",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Fail Parent Process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run Child Processes",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Process].[FailProcess]",
					"storedProcedureParameters": {
						"ProcessID": {
							"value": {
								"value": "@activity('Initiate Parent Process').output.firstRow.ParentProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_AnalyticsHub",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"SliceDate": {
				"type": "string"
			},
			"Area": {
				"type": "string",
				"defaultValue": "F1Area"
			},
			"Domain": {
				"type": "string",
				"defaultValue": "F1Domain"
			}
		},
		"folder": {
			"name": "0 - Source2Raw/Pret"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-13T18:04:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}