root4adf/pipeline/EX_SourceToRaw_Single_Table.json
{
	"name": "EX_SourceToRaw_Single_Table",
	"properties": {
		"activities": [
			{
				"name": "Start Process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Process].[StartProcess]",
					"storedProcedureParameters": {
						"ADFExecution": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ProcessID": {
							"value": {
								"value": "@pipeline().parameters.ProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_AnalyticsHub",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy Table to Lake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Start Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT * FROM ',pipeline().parameters.Domain,'.',pipeline().parameters.TableName)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_DYN",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_RAW1",
						"type": "DatasetReference",
						"parameters": {
							"Directory": {
								"value": "@{pipeline().parameters.Zone}/@{pipeline().parameters.Classification}/@{pipeline().parameters.Area}/@{pipeline().parameters.Domain}/@{pipeline().parameters.TableName}/@{pipeline().parameters.Version}/Year=@{pipeline().parameters.Year}/Month=@{pipeline().parameters.Month}/Day=@{pipeline().parameters.Day}/Time=@{pipeline().parameters.Time}",
								"type": "Expression"
							},
							"Entity": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Log Process Throughput",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Table to Lake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Process].[LogThroughput]",
					"storedProcedureParameters": {
						"CountName": {
							"value": "rowsCopied",
							"type": "String"
						},
						"CountValue": {
							"value": {
								"value": "@activity('Copy Table to Lake').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"ProcessID": {
							"value": {
								"value": "@pipeline().parameters.ProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_AnalyticsHub",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Fail Process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Table to Lake",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Process].[FailProcess]",
					"storedProcedureParameters": {
						"ProcessID": {
							"value": {
								"value": "@pipeline().parameters.ProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_AnalyticsHub",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Finalise Process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log Process Throughput",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Process].[FinaliseProcess]",
					"storedProcedureParameters": {
						"ProcessID": {
							"value": {
								"value": "@pipeline().parameters.ProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_AnalyticsHub",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Fail Process From Log Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Log Process Throughput",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Process].[FailProcess]",
					"storedProcedureParameters": {
						"ProcessID": {
							"value": {
								"value": "@pipeline().parameters.ProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_AnalyticsHub",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Add Dependencies to Queue",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Finalise Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Process].[InitiateDependency]",
					"storedProcedureParameters": {
						"EntityStageID": {
							"value": {
								"value": "@pipeline().parameters.EntityStageID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"SlicePath": {
							"value": {
								"value": "@concat('Year=',pipeline().parameters.Year,'/Month=',pipeline().parameters.Month,'/Day=',pipeline().parameters.Day,'/Time=',pipeline().parameters.Time)",
								"type": "Expression"
							},
							"type": "String"
						},
						"MultiLine": {
							"value": "0"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_AnalyticsHub",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string"
			},
			"Zone": {
				"type": "string",
				"defaultValue": "RAW"
			},
			"Year": {
				"type": "string"
			},
			"Month": {
				"type": "string"
			},
			"Day": {
				"type": "string"
			},
			"Domain": {
				"type": "string"
			},
			"Classification": {
				"type": "string"
			},
			"EntityStageID": {
				"type": "int"
			},
			"ProcessID": {
				"type": "int"
			},
			"Version": {
				"type": "string"
			},
			"SlicePath": {
				"type": "string"
			},
			"Time": {
				"type": "string"
			},
			"FileFormat": {
				"type": "string"
			},
			"Area": {
				"type": "string"
			}
		},
		"folder": {
			"name": "0 - Source2Raw/Origination"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-20T14:26:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}