root4adf/pipeline/PE_Parent.json
{
	"name": "PE_Parent",
	"properties": {
		"activities": [
			{
				"name": "Get Jobs to Run",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Initiate Parent Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Process].[GetChildProcesses]",
						"storedProcedureParameters": {
							"ParentProcessID": {
								"type": "Int32",
								"value": {
									"value": "@activity('Initiate Parent Process').output.firstRow.ParentProcessID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AnalyticsHub_DYN",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Initiate Parent Process",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Process].[InitiateParentLoad]",
						"storedProcedureParameters": {
							"ADFExecution": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"Area": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								}
							},
							"EntityStageID": {
								"type": "Int32",
								"value": "-1"
							},
							"ParentProcessID": {
								"type": "Int32",
								"value": "-1"
							},
							"ProcessFilter": {
								"type": "String",
								"value": "%"
							},
							"Stage": {
								"type": "String",
								"value": "POST"
							}
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AnalyticsHub_DYN",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Run Child Processes",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Jobs to Run",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Jobs to Run').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Run Post Execution Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PE_Single_Original",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ProcessId": {
										"value": "@item().ProcessID",
										"type": "Expression"
									},
									"ProcessSubType": {
										"value": "@item().ProcessSubType",
										"type": "Expression"
									},
									"EntityStageId": {
										"value": "@item().EntityStageID",
										"type": "Expression"
									},
									"stageName": {
										"value": "@item().StageName",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Finalise Parent Process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run Child Processes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Process].[FinaliseProcess]",
					"storedProcedureParameters": {
						"ProcessID": {
							"value": {
								"value": "@activity('Initiate Parent Process').output.firstRow.ParentProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_AnalyticsHub",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Fail Parent Process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run Child Processes",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Process].[FailProcess]",
					"storedProcedureParameters": {
						"ProcessID": {
							"value": {
								"value": "@activity('Initiate Parent Process').output.firstRow.ParentProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_AnalyticsHub",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Area": {
				"type": "string",
				"defaultValue": "Simphony"
			}
		},
		"folder": {
			"name": "4 - PostExecution"
		},
		"annotations": []
	}
}