root4adf/pipeline/R2B_CSV_Parent.json
{
	"name": "R2B_CSV_Parent",
	"properties": {
		"activities": [
			{
				"name": "Initiate Parent Process",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Process].[InitiateParentLoad]",
						"storedProcedureParameters": {
							"ADFExecution": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"Area": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								}
							},
							"EntityStageID": {
								"type": "Int32",
								"value": null
							},
							"ParentProcessID": {
								"type": "Int32",
								"value": null
							},
							"ProcessFilter": {
								"type": "String",
								"value": "%"
							},
							"Stage": {
								"type": "String",
								"value": "Base"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AnalyticsHub_DYN",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get Jobs to Run",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Initiate Parent Process",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[Process].[GetChildProcesses]",
						"storedProcedureParameters": {
							"ParentProcessID": {
								"type": "Int32",
								"value": {
									"value": "@activity('Initiate Parent Process').output.firstRow.ParentProcessID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AnalyticsHub_DYN",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Run Child Processes",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Jobs to Run",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Jobs to Run').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Run Copy Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "R2B_CSV_CleanseCSV",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableName": {
										"value": "@item().EntityName",
										"type": "Expression"
									},
									"Zone": {
										"value": "@item().StageName",
										"type": "Expression"
									},
									"Year": {
										"value": "@item().Year",
										"type": "Expression"
									},
									"Month": {
										"value": "@item().Month",
										"type": "Expression"
									},
									"Day": {
										"value": "@item().Day",
										"type": "Expression"
									},
									"Area": {
										"value": "@item().Area",
										"type": "Expression"
									},
									"Domain": {
										"value": "@item().Domain",
										"type": "Expression"
									},
									"Classification": {
										"value": "@item().Classification",
										"type": "Expression"
									},
									"EntityStageID": {
										"value": "@item().EntityStageID",
										"type": "Expression"
									},
									"ProcessID": {
										"value": "@item().ProcessID",
										"type": "Expression"
									},
									"Version": {
										"value": "@item().Version",
										"type": "Expression"
									},
									"ProcessSubType": {
										"value": "@item().ProcessSubType",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Finalise Parent Process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run Child Processes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Process].[FinaliseProcess]",
					"storedProcedureParameters": {
						"ProcessID": {
							"value": {
								"value": "@activity('Initiate Parent Process').output.firstRow.ParentProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_AnalyticsHub",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Fail Parent Process",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Run Child Processes",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[Process].[FailProcess]",
					"storedProcedureParameters": {
						"ProcessID": {
							"value": {
								"value": "@activity('Initiate Parent Process').output.firstRow.ParentProcessID",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_AnalyticsHub",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Area": {
				"type": "string"
			},
			"Domain": {
				"type": "string"
			}
		},
		"folder": {
			"name": "1 - RawToBase"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-07T16:15:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}