keyloopDF/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "keyloopDF"
		},
		"EventTrigger_properties_Execute Pret Load_parameters_SliceDate": {
			"type": "string",
			"defaultValue": "YYYYMMdd"
		},
		"EventTrigger_properties_Execute Pret Load_parameters_Area": {
			"type": "string",
			"defaultValue": "sqlArea"
		},
		"EventTrigger_properties_Execute Pret Load_parameters_Domain": {
			"type": "string",
			"defaultValue": "reference"
		},
		"EventTrigger_properties_Execute Pret Load_parameters_Region": {
			"type": "string",
			"defaultValue": "-1"
		},
		"EventTrigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/5fa2700d-738a-444e-a643-28241a29d08d/resourceGroups/PretReourceGRP/providers/Microsoft.Storage/storageAccounts/adlspretbiukadlsdev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/EX_SourceToRaw_Parent')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Initiate Parent Process",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[Process].[InitiateParentLoad]",
								"storedProcedureParameters": {
									"ADFExecution": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"EntityStageID": {
										"type": "Int32",
										"value": null
									},
									"ParentProcessID": {
										"type": "Int32",
										"value": null
									},
									"ProcessFilter": {
										"type": "String",
										"value": "%"
									},
									"Stage": {
										"type": "String",
										"value": "Raw"
									},
									"Area": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.Area",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_AnalyticsHub_DYN",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Get Entities to Copy",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Initiate Parent Process",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[Process].[GetChildProcesses]",
								"storedProcedureParameters": {
									"ParentProcessID": {
										"type": "Int32",
										"value": {
											"value": "@activity('Initiate Parent Process').output.firstRow.ParentProcessID",
											"type": "Expression"
										}
									}
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_AnalyticsHub_DYN",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Run Child Processes",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Entities to Copy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Entities to Copy').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Choose Pipeline Based on Source",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@item().FileFormat",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "SQL",
												"activities": [
													{
														"name": "Run Copy Pipeline Table",
														"description": "This has been moved to invoke the Zip PipeLine because it keeps on kicking of Databricaks. Otherwise, all is working well invoking EX_SourceToRaw_Single_Table - which is the pipeline it would kick of under normal circumstances",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "EX_SourceToRaw_Single_Table",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"TableName": {
																	"value": "@item().EntityName",
																	"type": "Expression"
																},
																"Zone": {
																	"value": "@item().StageName",
																	"type": "Expression"
																},
																"Year": {
																	"value": "@item().Year",
																	"type": "Expression"
																},
																"Month": {
																	"value": "@item().Month",
																	"type": "Expression"
																},
																"Day": {
																	"value": "@item().Day",
																	"type": "Expression"
																},
																"Domain": {
																	"value": "@item().Domain",
																	"type": "Expression"
																},
																"Classification": {
																	"value": "@item().Classification",
																	"type": "Expression"
																},
																"EntityStageID": {
																	"value": "@item().EntityStageID",
																	"type": "Expression"
																},
																"ProcessID": {
																	"value": "@item().ProcessID",
																	"type": "Expression"
																},
																"Version": {
																	"value": "@item().Version",
																	"type": "Expression"
																},
																"SlicePath": {
																	"value": "@item().SlicePath",
																	"type": "Expression"
																},
																"Time": {
																	"value": "@item().Time",
																	"type": "Expression"
																},
																"FileFormat": {
																	"value": "@item().FileFormat",
																	"type": "Expression"
																},
																"Area": {
																	"value": "@item().Area",
																	"type": "Expression"
																}
															}
														}
													}
												]
											},
											{
												"value": "CSV",
												"activities": [
													{
														"name": "Run Copy Pipeline CSV",
														"type": "ExecutePipeline",
														"dependsOn": [],
														"userProperties": [],
														"typeProperties": {
															"pipeline": {
																"referenceName": "EX_SourceToRaw_Single_CSV",
																"type": "PipelineReference"
															},
															"waitOnCompletion": true,
															"parameters": {
																"TableName": {
																	"value": "@item().EntityName",
																	"type": "Expression"
																},
																"Zone": {
																	"value": "@item().StageName",
																	"type": "Expression"
																},
																"Year": {
																	"value": "@item().Year",
																	"type": "Expression"
																},
																"Month": {
																	"value": "@item().Month",
																	"type": "Expression"
																},
																"Day": {
																	"value": "@item().Day",
																	"type": "Expression"
																},
																"Area": {
																	"value": "@item().Area",
																	"type": "Expression"
																},
																"Domain": {
																	"value": "@item().Domain",
																	"type": "Expression"
																},
																"Classification": {
																	"value": "@item().Classification",
																	"type": "Expression"
																},
																"EntityStageID": {
																	"value": "@item().EntityStageID",
																	"type": "Expression"
																},
																"ProcessID": {
																	"value": "@item().ProcessID",
																	"type": "Expression"
																},
																"Version": {
																	"value": "@item().Version",
																	"type": "Expression"
																},
																"SlicePath": {
																	"value": "@item().SlicePath",
																	"type": "Expression"
																},
																"Time": {
																	"value": "@item().Time",
																	"type": "Expression"
																},
																"FileFormat": {
																	"value": "@item().FileFormat",
																	"type": "Expression"
																},
																"Path": {
																	"value": "@item().Path",
																	"type": "Expression"
																}
															}
														}
													}
												]
											}
										],
										"defaultActivities": [
											{
												"name": "Run Copy Pipeline File",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "EX_SourceToRaw_Single_CSV",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"TableName": {
															"value": "@item().EntityName",
															"type": "Expression"
														},
														"Zone": {
															"value": "@item().StageName",
															"type": "Expression"
														},
														"Year": {
															"value": "@item().Year",
															"type": "Expression"
														},
														"Month": {
															"value": "@item().Month",
															"type": "Expression"
														},
														"Day": {
															"value": "@item().Day",
															"type": "Expression"
														},
														"Area": {
															"value": "@item().Area",
															"type": "Expression"
														},
														"Domain": {
															"value": "@item().Domain",
															"type": "Expression"
														},
														"Classification": {
															"value": "@item().Classification",
															"type": "Expression"
														},
														"EntityStageID": {
															"value": "@item().EntityStageID",
															"type": "Expression"
														},
														"ProcessID": {
															"value": "@item().ProcessID",
															"type": "Expression"
														},
														"Version": {
															"value": "@item().Version",
															"type": "Expression"
														},
														"SlicePath": {
															"value": "@item().SlicePath",
															"type": "Expression"
														},
														"Time": {
															"value": "@item().Time",
															"type": "Expression"
														},
														"FileFormat": {
															"value": "@item().FileFormat",
															"type": "Expression"
														},
														"Path": {
															"value": "@item().Path",
															"type": "Expression"
														},
														"Config": {
															"value": "@json(item().Config)",
															"type": "Expression"
														},
														"PathRoute": {
															"value": "@item().PathRoute",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Finalise Parent Process",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run Child Processes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Process].[FinaliseProcess]",
							"storedProcedureParameters": {
								"ProcessID": {
									"value": {
										"value": "@activity('Initiate Parent Process').output.firstRow.ParentProcessID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQL_AnalyticsHub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Fail Parent Process",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Run Child Processes",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Process].[FailProcess]",
							"storedProcedureParameters": {
								"ProcessID": {
									"value": {
										"value": "@activity('Initiate Parent Process').output.firstRow.ParentProcessID",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQL_AnalyticsHub",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SliceDate": {
						"type": "string"
					},
					"Area": {
						"type": "string"
					},
					"Domain": {
						"type": "string"
					}
				},
				"folder": {
					"name": "0 - Source2Raw/Pret"
				},
				"annotations": [],
				"lastPublishTime": "2021-12-13T18:04:10Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master Control')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Source to Raw",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EX_SourceToRaw_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SliceDate": {
									"value": "@pipeline().parameters.SliceDate",
									"type": "Expression"
								},
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								},
								"Domain": {
									"value": "@pipeline().parameters.Domain",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Raw to Base",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Source to Raw",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "R2B_CSV_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								},
								"Domain": {
									"value": "@pipeline().parameters.Domain",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Base to Enrich",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Raw to Base",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "B2E_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								},
								"Domain": {
									"value": "@pipeline().parameters.Domain",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Enrich To Curate",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Base to Enrich",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DYN_EnrToCurated_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Region": {
									"value": "@pipeline().parameters.Region",
									"type": "Expression"
								},
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SliceDate": {
						"type": "string"
					},
					"Area": {
						"type": "string"
					},
					"Domain": {
						"type": "string"
					},
					"Region": {
						"type": "string"
					}
				},
				"variables": {
					"EnrichJobs": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-18T19:51:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EX_SourceToRaw_Parent')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master Control_With_Curated')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Source to Raw",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EX_SourceToRaw_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SliceDate": {
									"value": "@pipeline().parameters.SliceDate",
									"type": "Expression"
								},
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								},
								"Domain": {
									"value": "@pipeline().parameters.Domain",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Raw to Base",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Source to Raw",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "R2B_CSV_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								},
								"Domain": {
									"value": "@pipeline().parameters.Domain",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Base to Enrich",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Raw to Base",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "B2E_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								},
								"Domain": {
									"value": "@pipeline().parameters.Domain",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Enrich To Curate",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Base to Enrich",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DYN_EnrToCurated_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Region": {
									"value": "@pipeline().parameters.Region",
									"type": "Expression"
								},
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Post Processing Maintenance",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Enrich To Curate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PE_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Area": "Simphony"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SliceDate": {
						"type": "string"
					},
					"Area": {
						"type": "string"
					},
					"Domain": {
						"type": "string"
					},
					"Region": {
						"type": "string"
					}
				},
				"variables": {
					"EnrichJobs": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-14T10:52:00Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EX_SourceToRaw_Parent')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Execute Pret Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Initiate Pret Load",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Process].[InitiateLoad]",
							"storedProcedureParameters": {
								"Area": {
									"value": {
										"value": "@pipeline().parameters.Area",
										"type": "Expression"
									},
									"type": "String"
								},
								"Domain": {
									"value": {
										"value": "@pipeline().parameters.Domain",
										"type": "Expression"
									},
									"type": "String"
								},
								"Months": {
									"value": null,
									"type": "Int32"
								},
								"SliceDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy/MM/dd')",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"Stage": {
									"value": "Raw",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQL_AnalyticsHub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Trigger Master Control",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Initiate Pret Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Master Control",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SliceDate": {
									"value": "@pipeline().parameters.SliceDate",
									"type": "Expression"
								},
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								},
								"Domain": {
									"value": "@pipeline().parameters.Domain",
									"type": "Expression"
								},
								"Region": {
									"value": "@pipeline().parameters.Region",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SliceDate": {
						"type": "string"
					},
					"Area": {
						"type": "string",
						"defaultValue": "F1Area"
					},
					"Domain": {
						"type": "string",
						"defaultValue": "F1Domain"
					},
					"Region": {
						"type": "string",
						"defaultValue": "-2"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-13T18:10:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Master Control')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EventTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Execute Pret Load",
							"type": "PipelineReference"
						},
						"parameters": {
							"SliceDate": "[parameters('EventTrigger_properties_Execute Pret Load_parameters_SliceDate')]",
							"Area": "[parameters('EventTrigger_properties_Execute Pret Load_parameters_Area')]",
							"Domain": "[parameters('EventTrigger_properties_Execute Pret Load_parameters_Domain')]",
							"Region": "[parameters('EventTrigger_properties_Execute Pret Load_parameters_Region')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/root/blobs/RAW/FormulaClassification/F1Area/new_14.json",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('EventTrigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Execute Pret Load')]"
			]
		}
	]
}