keyloopDF/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "keyloopDF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Master Control')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Source to Raw",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EX_SourceToRaw_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SliceDate": {
									"value": "@pipeline().parameters.SliceDate",
									"type": "Expression"
								},
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								},
								"Domain": {
									"value": "@pipeline().parameters.Domain",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Raw to Base",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Source to Raw",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "R2B_CSV_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								},
								"Domain": {
									"value": "@pipeline().parameters.Domain",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Base to Enrich",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Raw to Base",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "B2E_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								},
								"Domain": {
									"value": "@pipeline().parameters.Domain",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Enrich To Curate",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Base to Enrich",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DYN_EnrToCurated_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Region": {
									"value": "@pipeline().parameters.Region",
									"type": "Expression"
								},
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SliceDate": {
						"type": "string"
					},
					"Area": {
						"type": "string"
					},
					"Domain": {
						"type": "string"
					},
					"Region": {
						"type": "string"
					}
				},
				"variables": {
					"EnrichJobs": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-18T19:51:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master Control_With_Curated')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Source to Raw",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EX_SourceToRaw_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SliceDate": {
									"value": "@pipeline().parameters.SliceDate",
									"type": "Expression"
								},
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								},
								"Domain": {
									"value": "@pipeline().parameters.Domain",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Raw to Base",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Source to Raw",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "R2B_CSV_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								},
								"Domain": {
									"value": "@pipeline().parameters.Domain",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Base to Enrich",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Raw to Base",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "B2E_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								},
								"Domain": {
									"value": "@pipeline().parameters.Domain",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Enrich To Curate",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Base to Enrich",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "DYN_EnrToCurated_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Region": {
									"value": "@pipeline().parameters.Region",
									"type": "Expression"
								},
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Post Processing Maintenance",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Enrich To Curate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PE_Parent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"Area": "Simphony"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SliceDate": {
						"type": "string"
					},
					"Area": {
						"type": "string"
					},
					"Domain": {
						"type": "string"
					},
					"Region": {
						"type": "string"
					}
				},
				"variables": {
					"EnrichJobs": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-09-14T10:52:00Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Execute Pret Load')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Initiate Pret Load",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[Process].[InitiateLoad]",
							"storedProcedureParameters": {
								"Area": {
									"value": {
										"value": "@pipeline().parameters.Area",
										"type": "Expression"
									},
									"type": "String"
								},
								"Domain": {
									"value": {
										"value": "@pipeline().parameters.Domain",
										"type": "Expression"
									},
									"type": "String"
								},
								"Months": {
									"value": null,
									"type": "Int32"
								},
								"SliceDate": {
									"value": {
										"value": "@formatDateTime(utcnow(),'yyyy/MM/dd')",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"Stage": {
									"value": "Raw",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_SQL_AnalyticsHub",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Trigger Master Control",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Initiate Pret Load",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Master Control",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SliceDate": {
									"value": "@pipeline().parameters.SliceDate",
									"type": "Expression"
								},
								"Area": {
									"value": "@pipeline().parameters.Area",
									"type": "Expression"
								},
								"Domain": {
									"value": "@pipeline().parameters.Domain",
									"type": "Expression"
								},
								"Region": {
									"value": "@pipeline().parameters.Region",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"SliceDate": {
						"type": "string"
					},
					"Area": {
						"type": "string",
						"defaultValue": "F1Area"
					},
					"Domain": {
						"type": "string",
						"defaultValue": "F1Domain"
					},
					"Region": {
						"type": "string",
						"defaultValue": "-1"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-12-13T18:10:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Master Control')]"
			]
		}
	]
}